{%extends 'Main\base.html'%}
{%block head%}
    <div class="container">
        <div class="jumbotron">
            <ul class="list-group list-group-flush">
                <h4><li class="list-group-item">Username:{{user}}</li></h4>
                <h4><li class="list-group-item">First Name:{{user.first_name}}</li></h4>
                <h4><li class="list-group-item">Last Name:{{user.last_name}}</li></h4>
                <h4><li class="list-group-item">Email:{{user.email}}</li></h4>
                <h4><li class="list-group-item">Phone No.{{User.phone}}</li></h4>
                <h4><li class="list-group-item">City:{{User.city}}</li></h4>
                <img src="{{User.image.url}}" width="200" />
            </ul>
        </div>
    </div>



{%endblock%}
